            <header>
    <div class="default-container IDNMAwGxa_c26y77k fluid">
        <div class="row">
            <div class="col-12">
                <div class="ms-header" id="" data-m-t="header">
                    <div class="ms-header__container">
                        <div class="ms-header__topbar">
                            <div class="ms-header__logo">
                                <a href="/" aria-label="Adventureworks">
                                    <picture><img alt="Logo-Adventure Works-Dark.png" src="https://cms-dynamics-commerce-images-us.akamaized.net/cms/api/stpmsksxpr/imageFileData/MA1BcU?ver=5de2&amp;m=6&amp;q=80" _id="MA1BcT" height="28" width="228" copyright="" title="Logo-Adventure Works-Dark.png" class="msc-main_image msc_image" loadfailurebehavior="default"></picture>
                                </a>
                            </div>
                            <div class="ms-search with-submit" id="" data-m-t="search">
                                <div class="ms-search__label bx-show">
                                    <button type="button" aria-expanded="false" aria-label="Search" class="ms-search__icon msc-btn"><span class="ms-search__icon-text" aria-hidden="true">Search</span></button>
                                </div>
                                <div class="ms-search__form bx-hide">
                                    <form class="ms-search__searchForm" aria-label="Search" name="searchForm" role="search" action="" autocomplete="off">
                                        <button aria-label="Submit search" class="ms-search__form-submitSearch msc-btn"></button>
                                        <input type="text" class="ms-search__form-control" aria-label="Search" name="q" placeholder="Search Adventure Works" maxlength="50" value="">
                                    </form>
                                </div>
                                <div class="ms-search__autoSuggest hide"></div>
                            </div>
                            <div class="ms-header__divider"></div>
                            <div class="ms-header__account-info account-desktop"><a title="Sign in" href="" aria-label="Sign in" class="ms-header__signin-button msc-btn"><span class="ms-header__signin-button-text" aria-hidden="true">Sign in</span></a></div>
                            <div class="ms-cart-icon" id="IDNMAwGxa_c26y77k-cart-icon__0" data-m-t="cart-icon">
                                <button class="ms-cart-icon-wrapper msc-btn"><div class="msc-cart-icon" role="button" aria-label="Shopping bag, (0) items" title="Shopping bag, (0) items"><div class="msc-cart-icon__count" aria-hidden="true" style="visibility: visible;">0</div></div></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>